<h1>
    <%= animeTitle %>
</h1>
<img src="<%= poster %> " alt="poster of anime">


<form method="POST" action="">
    <input hidden type="text" name="animeTitle" value='<%= animeTitle %>'>
    <button type="submit">Favorite this anime!</button>
</form>

<h2>Status: <small><%= status %></small> </h2>

<small>Episode Count: <%= epCount %> </small>
<h3>Average Rating: </h3>
<%= avgRating %> 
<h2>Synopsis: </h2>
<p><%= synopsis %> </p>





