<h1>
    <%= animeTitle %>
</h1>
<img src="<%= poster %> " alt="poster of anime">

<% if (currentUser) {%> 
<form method="POST" action="/favoritedAnime/addAsFavorite">
    <input hidden type="text" name="animeTitle" value='<%= animeTitle %>'>
    <input hidden type="text" name="animeId" value='<%= animeId %>'>
    <input hidden type="text" name="poster" value='<%= poster %>'>
    <input hidden type="text" name="avgRating" value='<%= avgRating %>'>
    <input hidden type="text" name="favoritesCount" value='<%= favoritesCount %>'>
    <input hidden type="text" name="startDate" value='<%= startDate %>'>
    <input hidden type="text" name="endDate" value='<%= endDate %>'>
    <button type="submit">Add to your favorites!</button>
</form>
<form method="POST" action="">
    <input hidden type="text" name="animeTitle" value='<%= animeTitle %>'>
    <button type="submit">Want To Watch!</button>
</form>
<% } %> 

<h2>Status: <small><%= status %></small> </h2>

<small>Episode Count: <%= epCount %> </small>
<h3>Average Rating: </h3>
<%= avgRating %> 
<h2>Synopsis: </h2>
<p><%= synopsis %> </p>





