<div
    class="bg-image"
    style="
    background-image: url('https://i.postimg.cc/L8wLWPqP/site-Background.jpg');"
>
<% if(results.length == 0) {%>
    <h3>No Animes Found</h3>
    <small>Search another term</small> 

    <% } else {%>
        <h3 style="color:whitesmoke;">Search Results...</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                <% results.forEach(function(result) { %>
                
                    <h4>
                    <a href="/animeSearch/<%=result.id%>"><%= result.attributes.titles.en_jp %></a>
                    </h4>
                    <img src="<%=  result.attributes.posterImage.tiny %>" alt="post of searched anime">
                    <br>
                    <small style="color:palegoldenrod"><%= result.attributes.synopsis %> </small>
                    <br>
                    <small style="color:yellowgreen">Average Rating:<%= result.attributes.averageRating %> </small>
                
                <% }) %> 
                </div>
            </div>
        </div>
    <% }  %> 
</div>