<div
    class="bg-image"
    style="
    background-image: url('https://i.postimg.cc/L8wLWPqP/site-Background.jpg');
    background-size: 100vh;"
    
>
<style>
    .results-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: .5fr .5fr .5fr;
    gap: 25px 25px;
    margin-left: 25px;
    margin-right: 25px;
    grid-auto-flow: row;
    grid-template-areas:
    "result result result"
    "result result result"
    "result result result"
    "result result result";
}

.oneAnimeResult {
    grid-area: "result";
}

.synopsisBox {
    outline: 2px solid orange;
}




</style>

<% if(results.length == 0) {%>
    <h3 class="text-center">No Animes Found, search another term</h3>
    <div class="text-center">
        <form class="justify-content-center text-light" method="GET" action="/animeSearch/results">
            <label for="anime title input"></label>
            <input class="form control form-control-lg text-center col-5" type="text" name="animeTitle" placeholder="Anime Title">
            <br>
            <br>
            <input class="btn btn-info" type="submit">
        </form>
    </div>

    <% } else {%>
        <h5 style="color:whitesmoke;">Search Results...</h5>
            <div class="results-grid">
                <% results.forEach(function(result) { %>
                    <div class="oneAnimeResult">
                        <h3>
                            <a href="/animeSearch/<%=result.id%>"><%= result.attributes.titles.en_jp %></a>
                        </h3>
                        <img src="<%=  result.attributes.posterImage.tiny %>" alt="post of searched anime">
                        <br>
                        <div class="synopsisBox">
                        <small style="color:palegoldenrod"><%= result.attributes.synopsis %> </small>
                        </div>
                        <br>
                        <small style="color:yellowgreen">Average Rating: <%= result.attributes.averageRating %></small>
                    </div> 
                <% }) %>
            </div>
        
    <% }  %> 
</div>

